* {
  box-sizing: border-box;
}

:root {
  --main-padding: 10px;
  --icon-bg-color: white;
  --icon-color: black;
  --black-primary: #111827;
  --black-Secondary: #333e4f;
  --red-Primary: #ba3420;
  --white-Body: #f7f8fa;
}

body {
  background: var(--white-Body);
  margin: 0;
  padding: 0;
}

.container {
  height: 5vh;
  width: 1005px;
  min-width: 400px;
}

/* .container_text {
  display: grid;
  height: 26px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: var(--main-padding);
  background: rgb(236, 241, 239);
  padding: 5px;
} */

/* -------------------searchbar----------------- */
.container_bar {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr 1fr 1fr;
  padding: var(--main-padding);
  background: rgba(250, 250, 250);
  height: 36px;
  margin-top: 5px;
  margin-bottom: 19px;
}
.searchbar input {
  width: 500px;
  height: 32px;
  border: 2px solid black;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.searchbar {
  border-radius: 1px;
  height: 37px;
  width: 550px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  cursor: pointer;
}

.container_bar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-transform: lowercase;
}
/* ------------------------menubar  */
.menubar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background: #111827;
  color: #f7f8fa;
  height: 34px;
  width: 100%;
  min-width: 400px;
}
.menubar a {
  text-decoration: none;
  font-size: 12px;
  padding: 2px;
  color: var(--white-Body);
}

.catagories {
  background: #c2240c;
  color: #f7f8fa;
  text-transform: uppercase;
  height: 34px;
  width: 170px;
  max-width: 170px;
  padding: 5px;
  margin: 0;
}
