* {
  box-sizing: border-box;
}

:root {
  --main-padding: 10px;
  --icon-bg-color: white;
  --icon-color: black;
  --black-primary: #111827;
  --black-Secondary: #333e4f;
  --red-Primary: #ba3420;
  --white-Body: #f7f8fa;
}

body {
  background: var(--white-Body);
  margin: 0;
  padding: 0;
}

.container {
  height: 5vh;
  width: 1005px;
  min-width: 400px;
}


/* ------------------------menubar  */
.menubar {
  display: flex;
  background: #111827;
  color: #f7f8fa;
  height: 34px;
  width: 100%;
  min-width: 400px;
  align-items:center;
  justify-content:center;
}

.menubar a {
  text-decoration: none;
  font-size: 12px;
  padding: 2px;
  color: var(--white-Body);
}

.catagories {
  display:flex;
  background: #c2240c;
  color: #f7f8fa;
  text-transform: uppercase;
  height: 34px;
  width: 170px;
  max-width: 170px;
  align-items:center;
  justify-content:center;
  gap:10px;
  align-self: flex-start;
}
