
*{
    box-sizing: border-box;
 }
 
 :root{
    --main-padding:10px;
    --icon-bg-color:white;
    --icon-color:black;
    --black-primary : #111827;
    --black-Secondary:#333E4F;
    --red-Primary:#BA3420;
    --white-Body:#F7F8Fa;
 }
 
body{
    background:var(--white-Body);
    margin:0;
    padding:0;
}

.container_text{
    height:26px;
    background:rgb(236, 241, 239);
    display: flex;
    justify-content:space-between;
 }

 .container_text a {
    text-decoration:none;
    font-size:13px;
    padding-left:3px;
    color:black;
 }  

 .text_left{
    display:flex;
     align-items: center;
     justify-content: center;
     gap:15px;
     margin-left:25px;
 }
 .text_left .phone {
     display:flex;
     align-items: center;
     justify-content: center;
     gap:3px;
 }

 .text_left .mail{
     display:flex;
     align-items: center;
     justify-content: center;
     gap:3px;
}
.container_text .app_link{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:25px;
}
 /* -------------------searchbar----------------- */
 .container_bar {
    width: 100%;
    background-color: white;
    display:grid;
    grid-template-columns:1fr 6fr .5fr .5fr .5fr .5fr;
    background:rgba(250,250,250);
    height:36px;
    margin:10px 0 14px 0;
 }  

 .searchbar{
    height: 37px;
    width: 650px;
    grid-template-columns:1fr 1fr;
    display: grid;
    place-items: center;
    cursor: pointer; 
}

 .searchbar input{
     width:600px;
     height:32px;
     border:2px solid black;
     border-radius:5px 0 0 5px;
 }

.searchicon {
    width: 60px;
    height: 32px;
    background: black;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.searchicon .icon {
    background: black;
    color: white;
    font-size: 16px;
  }

 .container_bar a {
    text-decoration:none;
    color:black;
    font-size:25px;
    font-weight:bold;
    text-transform:lowercase;
}

input:focus{
    outline: none;
}

